<div class="article-container">
    <div class="article-section">
        <img src="{{ article.image.src |  image_url: width: "100%", height: "300px"  }}" alt="{{ article.image.alt }}" class="article-img">
        <div class="article-description-container">
            <h1 class="article-title">{{ article.title }}</h1>
            <p class="article-description">{{ article.content }}</p>

            <time datetime="" class="article-date">{{ article.published_at | date }}</time>
        </div>
    </div>    
</div>

<style>
    .article-container{
        margin: 3%;
    }

    .article-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .article-img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .article-description-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .article-title{
        font-size: large;
        font-weight: 500;
        padding: 2%;
        text-decoration-line: underline;
    }

    .article-description{
        font-size: medium;
    }

    .article-date{
        font-style: italic;
        font-size: small;
    }
</style>

{% schema %}
{
    "name": "article page",
    "settings": [
        
        ]
}
{% endschema %}